pyrofork
tgcrypto
wheel
gunicorn
flask
humanize
pygments
ffmpeg-python
pymongo
Pillow>=9.0.0
pytube
click
dnspython
requests
environs
GitPython
beautifulsoup4
aiohttp
aiofiles
rentry
pySmartDL
lexica-api